*{
    padding: 0px;
    margin: 0px;
}
.parte1{
    background-image: url("../images/angel-jimenez.jpg");
    height: 80vh;
    margin: 0 auto;
    width: 100%;
    background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.title{
    color: white;
    font-size:100px
}
main{
    max-width: 1200px;
    margin: 0 auto;
    
}
.parte2{
    display: flex;
    flex-direction: row;
    background: rgb(255, 255, 255);
    padding: 80px;
    
}
.texto{
    display: flex;
    flex-direction:column;
}
.parte2 img{
    height:500px;
    width: 500px;
   
}
.musica{
   color:rgb(236, 82, 172)
}
h2{
    font-size:40px
}
.texto{
    padding:100px
}
.boton1{
    background:rgb(242, 57, 100);
    width:100px;
    padding: 10px;
    border-radius:30px;
    border: rgb(242, 57, 100);
    color: white;
}
.parte3{
    display: flex;
    flex-direction: row;
    background: rgb(255, 255, 255);
    padding: 80px;
    
}
.texto1{
    display: flex;
    flex-direction:column;
    padding:100px
}
.parte3 img{
    height:500px;
    width: 500px;
   
}
.louer{
   color:rgb(236, 82, 172)
}
h2{
    font-size:40px
}

.boton2{
    background:rgb(242, 57, 100);
    width:100px;
    padding: 10px;
    border-radius:30px;
    border: rgb(242, 57, 100);
    color: white;
}
.parte4{
    background-image: url("../images/john-raptis.png");
   margin: 0 auto;
    width: 100%;
    height:500px;
    background-size: cover;
   background-position: center center;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   margin: 0 auto;
   
}
.parte5{
    display: flex;
    flex-direction: column;
    width: 30%; 
    color: white;
    padding: 0 100px
}
.boton3{
    background:rgb(242, 57, 100);
    width:100px;
    padding: 10px;
    border-radius:30px;
    border: #f23964;
    color: white;
}
footer{
    background:#f23964;
    height:100%;
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   
}
.info{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width:90%;

    border-bottom: 2px solid white ;
    padding:50px;
    
    
    
}
.info2{
    display: flex;
    flex-direction:column;

    
  
}
.info2 a{
    display: flex;
    text-decoration: none;
    color: white;
   margin:8px;
 
}
.final{
    display: flex;
    justify-content:space-between;
    margin:20px;
    width:90%;
    color: white;
}
